# Data Science Tools and Ecosystem

## INTRODUCTION
### In this notebook, Data Science Tools and Ecosystem are summarized.

## Objectives: ##
* Creation of a Jupyter Notebook
* List popular languages used for Data Science
* List common libraries used in Data Science
* Creating tables using Python
* Examples of arithmetic operations using Python

#### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. C++
5. JavaScript

#### Some of the commonly used libraries used by Data Scientists include:
1. Datasets
2. ggplot2
3. Pandas
4. NumPy
5. Matplotlib

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|RStudio|
|GitHub|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Raviteja Vedula